apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: frontend
  template:
    metadata:
      labels:
        component: frontend
    spec:
      containers:
     
        - name: frontend
          image: yellaiahdocker/frontend-k8
          imagePullPolicy: Always
      priorityClassName: high-priority          
          ports:
            - containerPort: 80
       
          env:
            - name: MODE
              value: production
            - name: VITE_API_URL
              value: api-load-balancer-service
       
